{% extends "app/layout.html" %}
{% load static %}
{% block content %}
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Export</a></li>
        </ul>
        <ul class="nav nav-sidebar">
        <li><a href="">News</a></li>
        <li><a href="">Top Gainers</a></li>
        <li><a href="">Top Losers</a></li>
        </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header"><span>Dashboard</span><span class="pull-right glyphicon glyphicon-refresh" onclick="updateStockInfo(stocks)"></span></h1>
        
        <div class="row">              
            <div class="col-sm-4">
                <canvas id="chart" ></canvas>
            </div>
            <div class="col-sm-4">
                <canvas id="chart2" ></canvas>
            </div>
            <div class="col-sm-4">
                <canvas id="chart3" ></canvas>
            </div>
        </div>
        <h2 class="sub-header">Your Stocks</h2>
        <div class="table-responsive">
        <table id ="portfolioTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>1 Day Movement</th>
                    <th>5 Day</th>
                    <th>1 Month</th>
                    <th>Chart</th>
                </tr>
            </thead>
            <tbody id="portfolioStocks">
                {% for stock in stock_list %}
                    <tr name="{{stock.symbol}}">
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.name }}</td>
                        <td>${{ stock.current_price }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a ticker="{{stock.symbol}}" onclick="getChart(this.getAttribute('ticker'), 'chart')">1</a>
                            <a ticker="{{stock.symbol}}" onclick="getChart(this.getAttribute('ticker'), 'chart2')">2</a>
                            <a ticker="{{stock.symbol}}" onclick="getChart(this.getAttribute('ticker'), 'chart3')">3</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>              
        </table>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "app/scripts/bootstrap.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script type="text/javascript">
        var stockRows = document.getElementById('portfolioStocks').getElementsByTagName('tr');
        getChart(stockRows[0].getElementsByTagName('td')[0].textContent, "chart");
        getChart(stockRows[1].getElementsByTagName('td')[0].textContent, "chart2");
        getChart(stockRows[2].getElementsByTagName('td')[0].textContent, "chart3");
    </script>      

{% endblock %}